<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" routerLink="recipes">Rezepte</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="recipes">Rezepte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="recipes/add">Rezept anlegen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="categories">Kategorien</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="categories/add">Kategorie anlegen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="recipes/upload">Upload</a>
    </li>
  </ul>
</nav>
