<div class="container">
  <h1>Katgeorie-Übersicht</h1>
  <div class="table-responsive">                    
    <table id="mytable" class="table table-bordred table-striped"> 
      <thead>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody> 
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" routerLink="update/{{category._id}}"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
          <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" (click)="delete(category._id)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
      </tbody>      
    </table>
  </div> 
  <h1>Kategorie hinzufügen</h1>
  <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
          <form name="form" (ngSubmit)="create()" #f="ngForm">
              <div class="form-group">
                  <label for="categoryname">Name</label>
                  <input type="text" class="form-control" name="categoryname" [(ngModel)]="model.name" #categoryname="ngModel"/>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary">Kategorie hinzufügen</button>
              </div>
          </form>    
      </div>
  </div>       
</div>
